.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 15%;
    min-width: 250px;
    min-height: 300px;
    margin: 20px;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.card h4 {
    margin: 10px 0 5px 0;
}

.card p {
    margin: 10px 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 400px;
}

.card-text {
    padding: 2px 16px;
    font-size: 1.5rem;
}