.pagination-ul {
    background-color: var(--important-color);
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.page-item {
    width: fit-content;
    display: inline-block;
    margin: 0 10px;
    padding: 6px 11px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
}

.page-item:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.page-item a {
    color: whitesmoke;
}

.page-item:hover a {
    color: var(--important-color);
    text-decoration: none;
}

.page-item.active {
    text-decoration: none;
    background-color: whitesmoke;
}

.page-item.active a {
    color: var(--active-color);
    font-weight: 700;
}

.pagination-points {
    font-size: 1.5rem;
    color: whitesmoke;
    align-self: center;
}