input {
    border-radius: 5px;
    width: 30rem;
    height: 3rem;
}

input[type='text'],
input[type='number'] {
    text-align: right;
}

input[type='text'] {
    padding-right: 15px;
}

.div-search {
    width: fit-content;
    display: flex;
    color: var(--important-color);
}

.search-input {
    margin-left: 10px;
    margin-top: -3px;
    border-color: var(--important-color);
}